.instagram-gradient {
  background: linear-gradient(to top right, #f9ce34, #ee2a7b, #6228d7);
  border-radius: 25%;
  display: flex;
  align-items: center;
  padding-left: 2px;
  padding-right: 2px;
  justify-content: center;
  color: white;
}

.hero-section-left-1 {
  position: relative;
  height: calc(100vh - 165px);
  min-height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

@media (max-width: 768px) {
  .hero-section-left-1 {
    height: 400px;
    min-height: 400px;
  }
}