*,
*:after,
*:before {
  box-sizing: border-box;
}

.img-glry {
  max-width: 100%;
  height: 550px;
  object-fit: cover;
  position: relative;
}

.gallery-wrap {
  width: 80%;
  height: 800px;
  overflow: visible;
  position: relative;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  z-index: 10;
}

.gallery-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transition: all 0.5s ease-out;
  transform-style: preserve-3d;
}

.gallery-box {
  width: 450px;
  position: absolute;
  transform: translate(-50%, -50%);
  backface-visibility: hidden;
}

.gallery-box a img {
  margin-top: 10%;
  margin-bottom: 10%;
}

/* Arrow Styles */
.arrow-glry {
  position: absolute;
  font-size: 2rem;
  color: #000000;
  cursor: pointer;
  border-radius: 50%;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
  transition: transform 0.2s ease;
  top: 50%;
  transform: translateY(-50%);
}

.arrow-glry:hover {
  transform: translateY(-50%) scale(1.1);
}

.arrow-left-glry {
  left: 50%;
  margin-left: -225px;
}

.arrow-right-glry {
  right: 50%;
  margin-right: -225px;
}

@media (max-width: 475px) {
  .gallery-wrap {
    height: 650px;
  }

  .gallery-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transition: all 0.5s ease-out;
    transform-style: preserve-3d;
  }

  .gallery-box {
    width: 260px;
    position: absolute;
    transform: translate(-50%, -50%);
    backface-visibility: hidden;
  }

  .img-glry {
    width: 100%;
    height: 400px;
  }

  .arrow-left-glry {
    margin-left: -160px;
  }

  .arrow-right-glry {
    margin-right: -160px;
  }

  .arrow-wrapper {
    padding: 0 10px;
  }

  .arrow-glry {
    font-size: 1.5rem;
    padding: 8px;
  }
}