/* Position mainreview at bottom of hero section */
.mainreview-wrapper {
  /* position: absolute; */
  /* bottom: 0;
  left: 0;
  right: 0; */
  
  z-index: 20;
}

@media (max-width: 1024px) {
  .mainreview-wrapper {
    position: absolute;
    bottom: 0;
  }
}

@media (max-width: 768px) {
  .mainreview-wrapper {
    position: absolute;
    bottom: 0;
  }
}

@media (max-width: 426px) {
  .mainreview-wrapper {
    position: absolute;
    bottom: 0;
  }

  .footer-text-small {
    font-size: 8px;
  }

  .star-small {
    width: 0.6rem;
    height: 0.6rem;
  }
}