/* Position mainreview at bottom of hero section */
.mainreview-wrapper {
  z-index: 20;
  width: 100%;
}

@media (max-width: 1024px) {
  .mainreview-wrapper {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(225, 254, 255, 0.9);
    /* Slight transparency when on top of hero */
  }
}

@media (max-width: 426px) {
  .mainreview-wrapper {
    padding: 6px 0;
  }

  .footer-text-small {
    font-size: 8px;
    line-height: 1.1;
  }
}

@media (max-width: 375px) {
  .footer-text-small {
    font-size: 7px;
  }

  .mainreview-wrapper {
    padding: 4px 0;
  }
}

@media (max-width: 320px) {
  .footer-text-small {
    font-size: 6px;
  }
}