.wrpper-inter {
  position: relative;
}

.hero-section-left-1 {
  position: relative;
  height: calc(100vh - 165px);
  min-height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.hero-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

@media (max-width: 768px) {
  .hero-section-left-1 {
    height: 400px;
    min-height: 400px;
  }
}

@media (max-width: 480px) {
  .all-packages-description {
    font-size: 0.9rem;
  }
}


.hero-section-right-1 {
  position: absolute;
  left: 70vw;
}

.hero-section-h2 {
  text-align: center;
}

.hero-lottie {
  width: 40%;
  height: 70%;
}

.lottie-wr {
  padding-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.cards-container-1 {
  margin: 20px;
  flex-wrap: wrap;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.ind-h {
  font-size: 2.5rem;
  color: #2C3E50;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 10px;
  font-weight: bold;
  font-family: 'Arial', sans-serif;
  position: relative;
}

.ind-h::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -2px;
  width: 10%;
  height: 4px;
  background-color: yellow;
  border-radius: 2px;
}

.ind-div {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.ind-img {
  width: 80%;
  height: 60vh;
  object-fit: cover;
  border-radius: 10px;
}

.all-packages-heading::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -2px;
  width: 10%;
  height: 4px;
  background-color: yellow;
  border-radius: 2px;
}

.all-packages-description {
  font-size: 1.2rem;
  color: #000;
  text-align: center;
  line-height: 1.5;
  font-family: 'Arial', sans-serif;
}

@media (max-width: 1024px) {
  .contact-form {
    /* width: 80vw; */
    margin-right: 80px;
  }
}